*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#header{
	border:2px black solid;
	background:black;
}
#mainlogo{
	transition: 2s;
}
#mainlogo:hover{
	transform: rotate(3600deg);
}
#header img {
	width:40px;
	height:40px;
	padding-top:20px;
	padding-bottom: 10px;
	margin-left:100px;
}
#sub-header-1, #sub-header-2{
	
}

#sub-header-1 ul{
	list-style: none;
	margin-left:160px;
	margin-right: 100px;
}

#sub-header-1 ul li{
	float: left;
	transform: translateY(-35px);
	font-size:15px;
	margin-left:48px;
	color:white;
	transition: .1s;
}

#sub-header-1 a:hover li{
	cursor: pointer;
	color: dodgerblue;

}
#sub-header-2 a:hover li{
	cursor: pointer;
	color:dodgerblue;

}

#sub-header-2{
	border:2px white ;
	float: right;
}
#sub-header-2 ul{
	list-style: none;
	margin-right: ;

}

#sub-header-2 ul li{
	float: left;
	transform: translateY(-35px);
	margin-right:50px;
	color:white;
}